@CHARSET "ISO-8859-1";
.navbar {
    margin-bottom: 0 !important;
}
/*
navbar color: #4AB825
*/
.fixedDrops {
	display: block !important; padding: 3px 20px !important; clear: both !important; font-weight: 400 !important; line-height: 1.42857143 !important; color: #333 !important; white-space: nowrap !important;
}